.top-header {
    height: 70px;
    width: 100%;
    text-align: center;
    background: lightblue;
}

.btn-primary {
    height: 30px;
    background: deepskyblue;
    color: black;
}

body.body--dark {
    background: #000
}