<script type="text/javascript" src="../scripts/page2.js"></script>
<v-app id="page2App" hidden>
    <template>
                <v-card>
                  <v-card-title>
                    Nutrition
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-card-title>
                  <v-data-table
                    :headers="headers"
                    :items="desserts"
                    :search="search"
                  ></v-data-table>
                </v-card>
              </template>
</v-app>